
---
import '../styles/global.css';
import SEOHead from '../components/SEOHead.astro';

interface Props {
  title: string;
  description?: string;
}
const { title, description = "Test your internet speed with our futuristic speed meter." } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
      <SEOHead title={title} description={description} />
  </head>
  <body class="text-white min-h-screen flex flex-col antialiased">
    <slot />
  </body>
</html>
